input  {
    color: inherit;
    font-family: inherit;
  } 

  .input {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .input__heading {
    font-size: var(--font-size-100);
    line-height: 1;
  }
  
  .input input {
    min-width: 160px;
    min-height: 45px;
    padding: 10px 15px;
    font-size: var(--font-size-300);
    background-color: var(--color-blue-100);
    border: none;
    border-radius: 1px;
    cursor: pointer;
    appearance: none;
  }
  
  .input input::placeholder {
    color: var(--color-blue-400);
    opacity: 0.4;
  }
  .trips-filter__search {
    padding-left: 50px;
    background-color: var(--color-white);
    background-image: url('/images/search.svg');
    background-repeat: no-repeat;
    background-position: 15px 50%;
    background-size: 22px;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
  }